body {
  background-color: antiquewhite;
  font-family: 'Roboto Mono', monospace; }

h1 {
  color: #5A3120;
  font-size: 3em; }

li {
  list-style: none; }

.container {
  margin: 20px; }

.ingredient-list {
  display: grid;
  grid-template-columns: [desc] 2fr [pic] 1fr;
  align-items: center;
  background-color: #999955;
  border-radius: 20px; }

.img-ingredients {
  grid-column: pic;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 20px;
  justify-self: center;
  margin: 10px; }

.measurement {
  font-size: 2.5em;
  color: #5A3120; }

.measurement:hover {
  background-color: antiquewhite; }

@media screen and (max-width: 800px) {
  .container, .img-ingredients {
    margin: 0px;
    width: 100%; }
  .ingredient-list {
    grid-template: "ingredients" "pic";
    border-radius: 5px; }
  .img-ingredients {
    border-radius: 5px; }
  h1 {
    font-size: 2em; }
  .measurement {
    font-size: 1em;
    margin: 0px; } }
