* {
  margin: 0;
  padding: 0;
}
body{
  background-color: antiquewhite;
  // font-family: 'Roboto Mono', monospace;
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

h1{
	color: #5A3120;
	font-size: 3em;
}

li{
	list-style: none;
}

.ingredient-list>div>ul>li{
	display: flex;
}

.ingredient-list>div>ul>li>div:first-child{
    text-align: right;
    flex: 1 0 75px;
    padding-right: 50px;
}

.ingredient-list>div>ul>li>div:last-child {
    text-align: left;
    flex: 3 0 400px;
}

.container{
  margin: 50px;
}
.ingredient-list{
  display: grid;
  grid-template-columns: [desc] 2fr [pic] 1fr;
  align-items: center;
  background-color: #999955;
  border-radius: 20px;
}

.img-ingredients {
  grid-column: pic;
  max-width: 600px;
  height: auto;
  object-fit: cover;
  border-radius: 20px; 
  justify-self: center;
  margin: 10px;
}

.measurement{
	font-size: 2em;
	color: #5A3120;
	// border-radius: 0 20px 20px 0;
}

.measurement:hover{
	background-color: antiquewhite;
}

@media screen and (max-width: 800px) {
  .container, .img-ingredients{
    margin: 0px;
    width: 100%;
  }  
  .ingredient-list{
  	grid-template: "ingredients"
  					"pic";
    border-radius: 5px;  
    padding: 10px;					
  }

.ingredient-list>div>ul>li>div:first-child{
    text-align: left;
    flex: 1 1 100px;
    padding-right: 0px;
    // padding-left: 10px;
}  

  .img-ingredients {  	
	border-radius: 5px;
	width: 100%;
	max-width: 100%;
  }

  h1{
	font-size: 2em;
  }	
	.measurement{
		font-size: 1em;
		// margin: 0px;
	}  
}
